<h1>Update Tank</h1>

<form action="/tanks/<%=@tank.id%>" method="POST">
  <!-- <input type="hidden" name="_method" value="patch"> --> 
  Tank Name: <input type="text" name="name" value="<%=@tank.name%>">
  Tank Nation: <input type="text" name="nation" value="<%=@tank.nation%>">
  <br>

  <input type="submit" value="Update Tank">
</form>


<h1>To delete tank click the button below</h1>

<form method="post" action="/tanks/<%=@tank.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" value="delete">
<form>
