<h1>Create New Tank</h1>

<% if flash.has?(:message) %>
<%= flash[:message] %>
<%end%>


<form action="/tanks" method="post">
  Name: <input type="text" name="tank[name]" id="tank_name" required>
  Nation: <input type="text" name="tank[nation]" id="tank_nation" required>
  <input type="submit" name="submit">

<p> <a href="/logout">Logout:</a></p>

</form>
