<h1>Create New Tank</h1>

<form action="/tanks" method="post">
  Name: <input type="text" name="tank[name]" id="tank_name">
  Nation: <input type="text" name="tank[nation]" id="tank_nation">
  Type: <input type="text" name="tank[type]" id="tank_type">
  <input type="submit" name="submit">
</form>
