<h1>Create New Tank</h1>

<% if flash.has?(:message) %>
<%= flash[:message] %>
<%end%>


<form action="/tanks" method="post">
  Name: <input type="text" name="tank[name]" id="tank_name">
  Nation: <input type="text" name="tank[nation]" id="tank_nation">
  <input type="submit" name="submit">


</form>
