


<h3> Tank: <%= @tank.name.upcase%></h3> <!--for some reason upcase is not loading in the controller -->
<h3> Nation:<%= @tank.nation.upcase%></h3>



<h4>Click <a href="/tanks/<%=@tank.id%>/edit">here</a> to edit</h4>


<p>Return to the <a href="/tanks">home</a> page</p>
<p> <a href="/logout">Logout:</a></p>
